<a href="https://colab.research.google.com/github/kosgilavanya/lavanya/blob/main/taxi_fare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/taxifare.csv")

In [ ]:
df

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
49995,25:15.0,15.0,2013-06-12 23:25:15 UTC,-73.999973,40.748531,-74.016899,40.705993,1
49996,19:18.0,7.5,2015-06-22 17:19:18 UTC,-73.984756,40.768211,-73.987366,40.760597,1
49997,53:00.0,6.9,2011-01-30 04:53:00 UTC,-74.002698,40.739428,-73.998108,40.759483,1
49998,09:00.0,4.5,2012-11-06 07:09:00 UTC,-73.946062,40.777567,-73.953450,40.779687,2
49999,13:14.0,10.9,2010-01-13 08:13:14 UTC,-73.932603,40.763805,-73.932603,40.763805,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  object
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.1+ MB

In [ ]:
df.isnull().sum()

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger         0
dtype: int64

In [ ]:
x=df.drop(columns=["unique_id","date_time_of_pickup","amount"])
y=df["amount"]

In [ ]:
x

,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,-73.844311,40.721319,-73.841610,40.712278,1
1,-74.016048,40.711303,-73.979268,40.782004,1
2,-73.982738,40.761270,-73.991242,40.750562,2
3,-73.987130,40.733143,-73.991567,40.758092,1
4,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...
49995,-73.999973,40.748531,-74.016899,40.705993,1
49996,-73.984756,40.768211,-73.987366,40.760597,1
49997,-74.002698,40.739428,-73.998108,40.759483,1
49998,-73.946062,40.777567,-73.953450,40.779687,2
49999,-73.932603,40.763805,-73.932603,40.763805,1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
model_params={
    "Randomforest":{
        "model":RandomForestRegressor(),
        "params":{
            "n_estimators":[10,50,100]
        }
    },
    "linearregression":{
        "model":LinearRegression(),
        "params":{}
    },
    "lasso":{
        "model":Lasso(),
        "params":{
            "alpha":[1,20,50]
        }
    }
}

In [ ]:
scores=[]
for model_name,mp in model_params.items():
  clf=GridSearchCV(mp["model"],mp["params"],cv=5,return_train_score=False)
  clf.fit(x_train,y_train)
  scores.append({
      "model":model_name,
      "best_score":clf.best_score_,
      "best_params":clf.best_params_
  })
df1=pd.DataFrame(scores,columns=["model","best_score","best_params"])

In [ ]:
df1

              model  best_score            best_params
0      Randomforest    0.727010  {'n_estimators': 100}
1  linearregression   -0.000094                     {}
2             lasso   -0.000011          {'alpha': 20}

In [ ]:
model=RandomForestRegressor(n_estimators=100)

In [ ]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [ ]:
training_data_prediction=model.predict(x_train)

In [ ]:
training_data_prediction

array([ 5.176 ,  8.973 , 17.061 , ...,  6.261 , 56.2667,  8.242 ])

In [ ]:
y_train

5478      5.40
22132     9.70
33533    16.90
42605    14.10
48740     7.70
         ...
44566     9.70
30280    10.50
6637      6.90
35343    57.54
23720     7.70
Name: amount, Length: 40000, dtype: float64

In [ ]:
from sklearn import metrics

In [ ]:
scores1=metrics.r2_score(y_train,training_data_prediction)
scores1

0.9445005379425425

In [ ]:
test_data_prediction=model.predict(x_test)
test_data_prediction

array([ 6.78 , 16.916,  7.483, ..., 13.049, 14.55 ,  6.741])

In [ ]:
y_test

23656     8.0
27442    12.0
40162     7.0
8459      8.0
8051     10.1
         ...
44231    15.0
18034     9.5
33856    12.5
15906    12.5
40899     7.5
Name: amount, Length: 10000, dtype: float64

In [ ]:
score2=metrics.r2_score(y_test,test_data_prediction)
score2

0.7711207703567393